{% extends "cookbook/base.html" %}
{% load static %}
{% block content %}
<a class="nav-item nav-link active" href="/cookbook/">New search <span class="sr-only">(current)</span></a>
{% endblock %}
{% block form %}
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for recipe in recipes %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ recipe.image }}"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"></img>
            <div class="card-body">
              <p class="card-text">{{ recipe.dish_name }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form method="get" action="{% url 'cookbook:recipes_details' id=recipe.id %}">
                    <button type="submit">View</button>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}
