{% load static %}
<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}" {% endif %}>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="{%  static 'cookbook/favicon.ico' %}">
  <title>PuzzleCookbook</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(219, 154, 218)">
    <a class="navbar-brand" href="/cookbook/">PuzzleCookbook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/cookbook/">New search <span class="sr-only">(current)</span></a>
<!--        <a class="nav-item nav-link" href="/search/1">Recipes</a>-->
      </div>
    </div>
</nav>
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">PuzzleCookbook</h1>
      <p class="lead text-muted">Cook With What You Have in Your Kitchen</p>
<!--            <form action="" method="POST">-->
<!--          {% csrf_token %}-->
<!--          {{ form.as_p }}-->
<!--          <input type="Submit" name = "submit" value="Recipe Search" ></input>-->
<!--      </form>-->
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for recipe in recipes %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ recipe.image }}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"></img>
            <div class="card-body">
              <p class="card-text">{{ recipe.dish_name }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form method='post' action=" {% url 'cookbook:recipes_details' %}">
                    {% csrf_token %}
                    <input name="id" value="{{ recipe.id }}" hidden>
                  <button class="edit-user" type="submit">View</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</main>
</body>
</html>