{% extends "cookbook/base.html" %}
{% load static %}
{% block content %}
<a class="nav-item nav-link active" href="/cookbook/">New search <span class="sr-only">(current)</span></a>
{% endblock %}
{% block form %}
  <div class="album py-5 bg-light">
      <h1> {{ recipe_det.title }} </h1>
      <img max-width="100%" height="auto" src="{{ recipe_det.image }}"></img>
      <p>
          <img src="{% static 'cookbook/clock.PNG' %}" alt="My image">
          Ready in {{ recipe_det.prep_time }} minutes.</p>
      <h2> Ingredients </h2>
      <ul>
      {% for ingredient in ingredients_list %}
        <li style="text-align:left;font-size:100%;color:DarkMagenta">{{ ingredient.name }} {{ingredient.amount }} {{ingredient.unit }}</li>
      {% endfor %}
      </ul>
      <h2> Instructions </h2>
      <ul>
      {% for step in steps_list %}
        <li style="text-align:left;font-size:100%;color:DarkMagenta">{{ step.step }}</li>
      {% endfor %}
      </ul>
      <div>
          <form method='post' action=" {% url 'cookbook:add_favourites' %}">
              {% csrf_token %}
              <input name="id" value="{{ recipe_det.id }}" hidden>
              <button class="edit-user" type="submit">Add to Favourites</button>
          </form>
      </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
{% endblock %}